*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    width: 1140px;
    margin: 0 auto;
}

.promo{
    height: 800px;
    background: url('./img/bgHeaderWithMask.jpg') center center/cover no-repeat;
    padding: 39px 0 62px 0;
}

.logo .logo_img{
    display: block;
    margin: 0 auto;
}

.logo .logo_text{
    color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 14px;
}

h1{
    margin-top: 53px;
}

.title{
    color: #f9bf3b;
    font-family: "Roboto - Black";
    font-size: 41px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
}

h2.title{
    margin-top: 30px;
}

.simple .title_big{
    color: #fff;
    font-family: "Roboto - Black";
    font-size: 80px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin-top: 21px;
}

.promo .promo_text{
    padding: 0 13px;
    margin-top: 23px;
    color: #fff;
    font-family: "Roboto Light";
    font-size: 21px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
}

.promo .promo_text span{
    color: #f9bf3b;
    font-family: "Roboto - Bold";
    font-weight: 700;
}

.promo .promo_btn, .giftButton{
    display: block;
    margin: 73px auto;
    width: 313px;
    height: 72px;
    box-shadow: inset 0 0 0 rgba(0,0,0,0.18);
    border: 4px solid rgba(0,0,0,0.23);
    background-image: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);
    text-shadow: -1px -1px 0 rgba(0,0,0,0.22);
    color: #fff;
    font-size: 21px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
}

.more{
    margin-top: 73px;
}

.more .more_text{
    color: #fff;
    font-family: "Roboto - Thin";
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.more .more_img{
    display: block;
    margin: 0 auto;
    margin-top: 13px;
}

.waiting{
    min-height: 604px;
    background-color: #efefef;
    padding: 85px 0 75px 0;
}

.waiting .waitingTitle, .finish .finishTitle{
    text-align: center;
    color: #252525;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.finish .finishTitle{
    color: #fff;
}

.waiting .waitingDivider, .finish .finishDivider{
    width: 217px;
    height: 4px;
    background-color: #f9bf3b;
    margin: 0 auto;
    margin-top: 18px;
}
.waiting .waitingSubtitle{
    text-align: center;
    color: #4a4a4a;
    font-family: Roboto;
    font-size: 23px;
    font-weight: 400;
    margin-top: 18px;
}

.waiting .waitingWrapper{
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}

.waiting .waitingWrapper .waitingItem{
    width: 339px;
    text-align: center;
}

.waiting .waitingWrapper .waitingItem .waitingImg{
    width: 100%;
}

.waiting .waitingWrapper .waitingItem .waitingDesc{
    color: #4a4a4a;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-top: 21px;
}

.optimization{
    min-height: 470px;
    padding: 102px 0 0 0;
    position: relative;
}
.optimization .optimizationTitle{
    margin-left: 391px;
    color: #299cbd;
    font-family: "Roboto - Black";
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.optimization .optimizationText{
    margin-top: 25px;
    margin-left: 391px;
    color: #4a4a4a;
    font-family: "Roboto Light";
    font-size: 17px;
    font-weight: 300;
}

.optimization .optimizationText span{
    font-family: "Roboto - Bold";
    font-weight: 700;
}

.optimization .optimizationImg{
    width: 750px;
    height: 450px;
    position: absolute;
    top: 20px;
    left: -20px;
    z-index: -1;
}

.finish{
    min-height: 447px;
    padding: 86px 0 79px 0;
    background: url("./img/afterCourse/bgWithMaskAfterCourse.jpg") center center/cover no-repeat;
}

.finish .finishWrapper{
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
}

.finish .finishWrapper .finishItem{
    max-width: 204px;
}

.finish .finishWrapper .finishItem .finishRound{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 115px;
    height: 115px;
    background-color: #b4e2ff;
    border-radius: 100%;
}

.finish .finishWrapper .finishItem .finisDesc{
    margin-top: 25px;
    text-align: center;
    color: #efefef;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
}

.exParticipant{
    background-color: #efefef;
    min-height: 630px;
    padding-top: 86px;
}

.gift .giftImg{
    display: block;
    margin: 0 auto;
}

.gift .giftText{
    padding-top: 44px;
    text-align: center;
    color: #4a4a4a;
    font-family: "Roboto Light";
    font-size: 30px;
    font-weight: 300;
}

.firstWebinar{
    min-height: 515px;
    padding-top: 80px;
}

.firstWebinar .firstWebImg{
    display: block;
    margin: 0 auto;
}

.firstWebinar .when{
    margin-top: 25px;
    text-align: center;
    color: #4a4a4a;
    font-family: "Roboto - Black";
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
}

.firstWebinar .date{
    margin-top: 25px;
    text-align: center;
    color: #299cbd;
    font-family: "Roboto - Black";
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
}

.firstWebinar .afterText{
    margin-top: 25px;
    color: #4a4a4a;
    text-align: center;
    font-family: "Roboto Light";
    font-size: 23px;
    font-weight: 300;
}

.footer{
    min-height: 160px;
    background-color: #1a1a1a;
    padding-top: 55px;
    position: relative;
}

.footer .links{
    display: flex;
    justify-content: center;
    align-items: end;
}

.footer .links a{
    color: #efefef;
    font-family: "Roboto Light";
    font-size: 15px;
    font-weight: 300;
}

.footer .links .divider{
    width: 1px;
    height: 15px;
    background-color: #efefef;
    margin: 0 10px;
}

.footer .contact{
    display: flex;
    justify-content: center;
    align-items: center;

    color: #efefef;
    font-family: "Roboto Light";
    font-size: 15px;
    font-weight: 300;
}

.footer .contact .callUs{
    margin-right: 5px;
}

.footer .contact .phone{
    margin-left: 9px;
}