.consultation{
  min-height: 680px;
  padding: 100px 0 92px 0;
  background: url("../../css/img/consultations/bg.jpg") center center/cover no-repeat;
  &__description{
    color: #fff;
    font-weight: 500;
    font-size: 20px;
  }
  .error{
    border: 1px solid red;
  }
  label.error{
    color: white;
    border: none;
    text-align: center;
    margin-bottom: 15px;
  }
}